<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Email Verification
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }
      .container {
        max-width: 700px;
        margin: auto;
        background-color: #ffffff;
        border: 2px solid black;
      }
      .header {
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 5px
      }
      .logo {
        height: 40px; 
        margin-top: 3px;
        margin-right: 45px;
        margin-left: 10px 
      }
      .header h1 {
        flex: 1; 
        margin: 0; 
        text-align: center; 
        font-size: 30px; 
        margin-top: 6px;
      }
      .message {
        font-size: 16px;
        margin: 20px 0;
        text-align: center;
      }
      .verify-btn {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 12px;
        background-color: #007bff;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
      }
      .verify-btn:hover {
        background-color: #0056b3;
      }
      .footer {
        margin-top: 30px;
        text-align: center;
        font-size: 12px;
        color: #888888;
      }
      .welcome {
        text-align: center;
      }
  body
    .container
      .header
        img.logo(src="https://res.cloudinary.com/duiuvuxeu/image/upload/v1747155756/dsv-logo_fqpjxp.png" alt="Designveloper Logo")
        h1 LuminPDF Demo

      .content
        h2.welcome Welcome, #{name}!
        .message
          p Thank you for signing up with us.
          p Please click the button below to verify your email address.

      a.verify-btn(href=verificationLink) Verify Email

      .footer
        p If you did not create this account, please ignore this email.